[submodule "emacs"]
	path = emacs
	url = https://github.com/doomemacs/doomemacs
[submodule "nvim-config"]
	path = nvim
	url = git@github.com:lv/nvim-config.git
[submodule "kitty-config"]
	path = kitty
	url = git@github.com:LV/kitty-config.git
[submodule "hypr-config"]
	path = hypr
	url = git@github.com:LV/hypr-config.git
[submodule "doom-config"]
	path = doom
	url = git@github.com:LV/doom-config.git
[submodule "alacritty"]
	path = alacritty
	url = git@github.com:LV/alacritty-config.git
