[submodule "emacs"]
	path = emacs
	url = https://github.com/doomemacs/doomemacs
[submodule "nvim"]
	path = nvim
	url = git@github.com:lv/nvim.git
[submodule "kitty"]
	path = kitty
	url = git@github.com:LV/kitty
[submodule "hypr"]
	path = hypr
	url = git@github.com:LV/hypr
[submodule "doom"]
	path = doom
	url = git@github.com:LV/doom
